<!DOCTYPE html>
<html lang="en">
<head>
<title>Sports Cave</title>
<link rel="icon" type="image/png" href="javascripts/Sports-Cave.ico" />
<link rel="stylesheet" href="/stylesheets/styles.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
</head>
<body class="body">
<div class="full-header">
<div class="header">
  <div class="header-right" style="float:left">
	<a href="index.html" style="padding:0px!important;"><img src="../images/Sports-Cave-header.png" height="50px" width="120px" style="float:left"></a>
    <a href="#NFL">NFL</a>
    <a href="#NBA">NBA</a>
    <a href="#MLB">MLB</a>
	<a href="#FIFAA">FIFAA</a>
	<a href="#NHL">NHL</a>
	<a href="#More">&#183;&#183;&#183;</a>
  </div>
   <div class="header-right">
    </div>
    {{#if userName}}
      <a id="userName">{{userName}}</a>
    {{else}}
      <span id="userName"></span>
    <a href="/login">Login</a>
    <a href="/signup">Sign Up</a>
    {{/if}}
    
  </div>
</div>
{{{body}}}
<div class="side-chat" onclick="ChangeClassSideChat(this)"><strong>Chat (65)</strong></div>
{{#if userName}}
<div class="side-button" >
  <div class="chat-titlebar" onclick="ChangeClassSideButton()" ><h2>Jets vs Bills</h2></div>
  <div class="chat-content">
    <ul class="messages-clearfix" id='chatTitle'></ul>
    <div class="chat-input">
      <form class="form-inline" id="messageSupport">
        <div class="form-group">
          <input type="text" autocomplete="off" class="form-control" id="newMessage" placeholder="Enter Message">
        <button type="submit" class="btn btn-primary send-message-btn">Send</button>
        </div>        
      </form>
    </div>
  </div>
</div>
<script src="/javascripts/socketClient.js"></script>
{{/if}}

</body>
<script src="/javascripts/APICalls.js"></script>
<script src="/javascripts/Chat.js"></script>
<script src="/javascripts/Validate.js"></script>
</html>