<html>
<head>
<title>Sports Cave</title>
<link rel="icon" type="image/png" href="Graphics/Sports-Cave.ico" />
<link rel="stylesheet" href="../CSS/styles.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="../JS/APICalls.js"></script>
<script src="../JS/Chat.js"></script>
</head>
<body class="body">
<div class="header">
  <img src="../Graphics/Sports-Cave-header.png" height="50px" width="120px"></a>
  <div class="header-right">
    <a href="NFL.html">NFL</a>
    <a href="NBA.html">NBA</a>
    <a class="active" href="MLB.html">MLB</a>
	<a href="FIFAA.html">FIFAA</a>
	<a href="NHL.html">NHL</a>
	<a href="#More">&#183;&#183;&#183;</a>
  </div>
</div>
<div class="sub-header">
	<a href="#NFL"><img src="../Graphics/MLB.png"> </a> 
    <a href="#NFL"> MLB</a>
	<a>|</a>
    <a href="#NFL">Home</a>
    <a href="#NFLScores">Scores</a>
	<a href="#NFLSchedule">Schedule</a>
	<a href="#NFLStandings">Standings</a>
	<a href="#NFLStats">Stats</a>
	<a href="#NFLTeams">Teams</a>
	<a href="#NFLMore">More</a>
</div>
<div class="sub-header"></div>
<br>
<center><img src="../Graphics/Sports-Cave.png"></center>
<p align="center"><b>Under Construction - SEM Group 4</b></p>
<div class="container">
<div id="result" style="color:red"></div>
</div>

<table id="APICall" style="width:50%" align="center"></table>

<div class="side-chat" onclick="ChangeClassSideChat(this)"><strong>Chat (65)</strong></div>
<div class="side-button" onclick="ChangeClassSideButton(this)"><strong>Jets vs Bills</strong></div>
</body>
</html>