<form id="local-reg" class="collapse" action="/local-reg" method="post">
    <div>
        <p></p>
        <label>New Username:</label>
        <input type="text" name="username"/>
    </div>
    <div>
        <label>New Password:</label>
        <input type="password" name="password"/>
    </div>
    <div>
        <label>Email Address:</label>
        <input type="email" name="emailaddress"/>
    </div>
    <div>        
        <label>First Name:</label>
        <input type="text" name="firstName"/>
    </div>
    <div>
        <label>Last Name:</label>
        <input type="text" name="lastName"/>
    </div>
     <div>
        <label>Date of Birth:</label>
        <input type="date" name="birthDay"/>
    </div>
    <div>
        <input type="submit" class="btn btn-primary btn-sm" value="Register"/>
    </div>
  </form>



  {{!-- <div id="login">
<div align="center"><img src="../images/Sports-Cave.png" style="height:100px;width:100px;" alt="25"></div>
<h1 align="center">Login</h1>
<form name="loginform" id="loginform" method="post">
<p>
<label for="user_login">Username or Email Address<br />
<input type="text" name="log" id="user_login" class="input" value="" size="20" /></label>
</p>
<p>
<label for="user_pass">Password<br />
<input type="password" name="pwd" id="user_pass" class="input" value="" size="20" /></label>
</p>
<p class="submit">
<input type="submit" name="wp-submit" id="wp-submit" class="button button-primary button-large" value="Log In" />
</p>
</form>
 <p id="backtoblog"><a href="../index.html">Back to Sports Cave</a> | <a href="signup.html">Create a New Account</a></p> 
 </div> --}}